Package: alibaba
Version: 1.0
Depends: libcg
Provides: 
Source: package/alibaba
Section: base
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: imx28
Installed-Size: 432031
Description:  SMS Proxy
